{% extends 'base.html' %}
{% block left-side %}
            <h1>{{ page_title }}</h1>
            <form class="forms" style="margin-top: 40px">
                <div class="form-group row">
                    <a class="col-sm-1 col-form-label">Title</a>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="titleInput" placeholder="Briefly and on business">
                    </div>
                </div>
                <div class="form-group row">
                    <a class="col-sm-1 col-form-label">Text</a>
                    <div class="col-sm-11">
                        <textarea  class="form-control" id="TextInput" placeholder="Describe your problem" rows="12"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <a class="col-sm-1 col-form-label">Tags</a>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="TagsInput" placeholder="Please specify tags">
                    </div>
                </div>
                <div class="col-sm-11 offset-sm-1">
                    <button class="btn btn-info">Ask!</button>
                </div>
            </form>
            <br></br>


{% endblock %}