{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AskErr</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/askme.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'bootstrap/js/jquery.js'%}"></script>
    <script src="{% static 'bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</head>

<body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light my-nav">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/sitelogo.png' %}" class="navbar-brand logo"></a>
        <a class="navbar-brand" href="{% url 'home' %}">AskErr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
{#            <li class="nav-item active">#}
{#              <a class="nav-link" href="{% url 'home' %}"> Home <span class="sr-only">(current)</span></a>#}
{#            </li>#}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hot' %}"> HotQuestions </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ask-question' %}"> AskQuestion </a>
            </li>
            {% endif %}
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

          {% if user.is_authenticated %}
          <div class="col-sm-1"></div>
          <img src="{{  user.upload.url }}" class="rounded-circle logo pull-right">
          <div class = "col-md-3 align-self-end">
            <div class ="row">
            <a class="user" href="{% url 'settings' %}" style="padding-left: 15px">{{ user.username }} </a>
            </div>
            <div class ="row">
            <a class="user" href="{% url 'settings' %}" style="padding-left:15px;padding-right: 10px">Settings</a>
            <a class="user" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
          {% else %}
            <div class="col-sm-1"></div>
            <div class = "col-md-3 align-self-end">
            <div class ="row">
                <a class="user" href="{% url 'login' %}">log in</a>
            </div>
            <div class ="row">
                <a class="user" href="{% url 'registration' %}">registration</a>
            </div>
          </div> {% endif %}
          
          
        
        </div>
      </nav>
    </header>


<div class="container">

    <div class="row">
        <div class="col-md-9 ">
            {% block left-side %}
            {% endblock %}
        </div>
        <div class="col-md-3">
            {% block right-side %}
                {% include 'right-side.html' %}
            {% endblock %}
        </div>

    </div>

</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted" style="margin: auto;">All rights reserved 2018(not)</p>
    </div>
</footer>

</body>