{% load static %}

<h1>{{ page_title }}</h1>
{% for question in questions %}


            <div class="question">
                <div class="row ">
                    <div class="col-sm-2 ">
                        <img src="{{ question.author.upload.url }}" class="avatar" >
                        <div style="text-align: center;"><a class="name" href="#" >{{ question.author.username }}</a></div>
                        <div style="text-align: center;">
                         <a href="{% url 'like-question' id=question.id%}"><button data-id="{{ question.id }}" type="button" class="btn js-question-like btn-secondary btn-sm">
                           <img src="{% static 'img/like.png'%}" class = 'like'>
                         </button></a>
                            <span id = question_id-{{ question.id }}">{{ question.likequestion_set.count }}</span>
                        </div>
                    </div>
                    <div class="col-sm-10 question-text">
                        <div><a href="{% url 'question' id=question.id%}"><h5>{{ question.title }}</h5></a></div>
                        <div>
                            {{ question.text }}
                        </div>
                        <div>
                            <br>
                            Answers: {{ question.answer_set.count }} <br>
                            {% if question.tags.all %}
                            Tags:
                            {% for tag in question.tags.all %}
                                <a class="{% cycle "badge badge-primary" "badge badge-success" "badge badge-info" "badge badge-warning" "badge badge-danger"%}" href="{% url 'questions-on-tag' tag %}"> {{ tag.title }} </a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            <br></br>



{% endfor %}

{% include 'paginator.html' %}