{% extends 'base.html' %}
{% load static %}

{% block left-side %}

            <h1 class="header">Ask questions</h1>
            <div class="question">
                <div class="row ">
                    <div class="col-sm-2 ">
                        <img src="{{ question.author.upload.url }}" class="avatar" >
                        <div style="text-align: center;"><a class="name" href="#" >{{ question.author.username }}</a></div>
                        <div style="text-align: center;">
                        <a href="{% url 'like-question' id=question.id%}"><button type="button" class="btn btn-secondary btn-sm">
                           <img src="{% static 'img/like.png'%}" class = 'like'>
                         </button></a>
                            {{ question.likequestion_set.count }}
                        </div>
                    </div>
                    <div class="col-sm-10 question-text">
                        <div><a href="{% url 'question' id=question.id %}"><h5>{{ question.title }}</h5></a></div>
                        <div>
                            {{ question.text }}
                        </div>
                        <div>
                            <br>
                            {% if question.tags.all %}
                            Tags:

                            {% for tag in question.tags.all %}
                                <a class="{% cycle "badge badge-primary" "badge badge-success" "badge badge-info" "badge badge-warning" "badge badge-danger"%}" href="{% url 'questions-on-tag' tag %}"> {{ tag.title }} </a>
                            {% endfor %}
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>
            <hr/>

            {% for answer in answers %}
            <div class="answer">
                <div class="row justify-content-center">
                    <div class="col-sm-2">
                        <img src="{{ answer.user.upload.url }}" class="avatar">
                        <div style="text-align: center;"><a class="name" href="#" >{{ answer.user.username }}</a> </div>
                        <div style="text-align: center;">
                        <a href="{% url 'like-answer' id=answer.id%}"><button type="button" class="btn btn-secondary btn-sm">
                           <img src="{% static 'img/like.png'%}" class = 'like'>
                         </button></a>
                            {{ answer.likeanswer_set.count }}
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div><a href="#">Answer</a></div>
                        <div>
                            {{ answer.text }}
                        </div>
{#                        <div class="form-check">#}
{#                            <label class="form-check-label">#}
{#                                <input class="form-check-input" type="checkbox" value="">#}
{#                                Correct!#}
{#                            </label>#}
{#                        </div>#}

                    </div>
                </div>
            </div>
            {% endfor %}

            {% if user.is_authenticated %}
            <div id="answerForm" class="basic" style="margin-top: 80px">
                <div class="form-group">
                    <label for="exampleTextarea">Your answer: </label>
                    <textarea class="form-control" id="exampleTextarea" rows="7" placeholder="Enter your answer here..."></textarea>
                </div>
                <button class="btn btn-primary" type="submit" style="margin-bottom: 20px">Answer</button>
            </div>
            {% endif %}

{% endblock %}