<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AskErr</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <img src="../static/img/logo2.png" class="navbar-brand" style="width: 45px">
  <a class="navbar-brand" href="#">AskErr</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ASK</button>

	<div class = "container">
		<div class = "row justify-content-end">
			<!-- <div class="col-md-2" >
    			<img src="../static/img/logo1.jpg" class="img-circle" style="height:45px;">
	    	</div> -->
            <img src="../static/img/logo1.jpg" class="img-circle" style="height:45px;">
	    	<div class = "col-md-3">
	    		<div class ="row">
	    		<a class="user" href="#">Username </a>
	    		</div>
	    		<div class ="row">
	    		<a class="user" href="#">Settings &nbsp</a>
	    		<a class="user" href="#">Logout</a>
	    		</div>
	    	</div>
    	</div>
    </div>
  </div>
</nav>


<div class="container">

    <div class="row">

        <div class="col-md-9 ">
            <h1 class="header">Questions</h1>
            <div class="question">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="../static/img/user.png" class="img-circle avatar">
                        <div><a class="name" href="#" style="padding-left: 28px">username</a> </div>
                        <p style="padding-left: 35px;padding-top: 10px">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <img src="../static/img/like.png" class = 'img-circle like'>
                        </button>
                            6
                        </p>
                    </div>
                    <div class="col-sm-10">
                        <div><a href="#">How to build a moon park?</a></div>
                        Guys, I have trouble with a moon park. Can't find th black-jack...
                        blasldasldlasdlasldlasld
                        asdlasldlasdlsaldlaldalsd
                        asdlasdlaldasldlasldalsdla
                        sdlasldsaldlasldasld
                        asdlasldasldlaslda
                        dla
                        das
                        dsaddasdadsdhhghghghggjjgjgjgjjgjgjgjgjgjgjgggggggggggggggggggggggjgjgjgjgjgjgjgjg
                        asdasdasdasdadasdsadsadasdasdsadasd
                        <div>
                            <a href="#">Answers(3)</a>
                            Tags:
                            <a href="#">Tag1</a>
                            <a href="#">Tag2</a>
                        </div>
                    </div>

                </div>
            </div>
            <br></br>
            <div class="question">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="../static/img/user.png" class="img-circle avatar">
                        <div><a class="name" href="#" style="padding-left: 28px">username</a> </div>
                        <p style="padding-left: 35px;padding-top: 10px">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <img src="../static/img/like.png" class = 'img-circle like'>
                        </button>
                            6
                        </p>
                    </div>
                    <div class="col-sm-10">
                        <div><a href="#">How to build a moon park?</a></div>
                        Guys, I have trouble with a moon park. Can't find th black-jack...
                        <div>
                            <a href="#">Answers(3)</a>
                            Tags:
                            <a href="#">Tag1</a>
                            <a href="#">Tag2</a>
                        </div>
                    </div>

                </div>
            </div>
            <br></br>
            <div class="question">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="../static/img/user.png" class="img-circle avatar">
                        <div><a class="name" href="#" style="padding-left: 28px">username</a> </div>
                        <p style="padding-left: 35px;padding-top: 10px">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <img src="../static/img/like.png" class = 'img-circle like'>
                        </button>
                            6
                        </p>
                    </div>
                    <div class="col-sm-10">
                        <div><a href="#">How to build a moon park?</a></div>
                        Guys, I have trouble with a moon park. 
                        Can't find th black-jack...
                        <div>
                            <a href="#">Answers(3)</a>
                            Tags:
                            <a href="#">Tag1</a>
                            <a href="#">Tag2</a>
                        </div>
                    </div>

                </div>

            </div>
            <br></br>
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>

        </div>

        <div class="col-md-3">
            <div>
                <h2>Popular tags</h2>
                <ol class="list-unstyled ">
                    <li><a class="Tag1" href="#">Tag1</a></li>
                    <li><a class="Tag2" href="#">Tag2</a></li>
                    <li><a class="Tag3" href="#">Tag3</a></li>

                </ol>

            </div>
            <div class="sidebar-module">
                <h2>Best members</h2>
                <ol class="list-unstyled ">
                    <li><a href="#">Username1</a></li>
                    <li><a href="#">Username2</a></li>
                    <li><a href="#">Username3</a></li>
                    <li><a href="#">Username4</a></li>
                    <li><a href="#">Username5</a></li>
                    <li><a href="#">Username6</a></li>
                    <li><a href="#">Username7</a></li>
                    <li><a href="#">Username8</a></li>
                    <li><a href="#">Username9</a></li>
                    <li><a href="#">Username10</a></li>
                </ol>
            </div>
        </div>

    </div>

</div>

</body>